.git
.cursor
.idea
.vscode
.env
.env.*
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
storage/app/public/*
docs/atlas-credentials.env
tests
phpunit.xml
*.md
